<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDSsCKixj9ulC1aoe6r5l5tahfY0wiR7WA</string>
	<key>GCM_SENDER_ID</key>
	<string>388036390067</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stocodiApp</string>
	<key>PROJECT_ID</key>
	<string>stocodi-app-360ec</string>
	<key>STORAGE_BUCKET</key>
	<string>stocodi-app-360ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:388036390067:ios:509bfd6d00fa352d3294c6</string>
	<key>DATABASE_URL</key>
	<string>https://stocodi-app-360ec-default-rtdb.firebaseio.com</string>
</dict>
</plist>